:root {
  /* dark shades of primary color*/
  --clr-background-1: #f4f4f4;
  --clr-header-1: #9901ff;
  --clr-navbar-1: #f4f4f4;
  --clr-navbar-2: rgb(57, 113, 146);
  --clr-navbar-3: rgb(85, 156, 197);
  --clr-navbar-4: rgb(144, 225, 253);
  --clr-intro-1: rgb(228, 213, 178);
  --clr-intro-2: rgb(186, 202, 145);
  --clr-intro-border-1: rgb(144, 225, 253);
  --clr-border-1: #9901ff;
  --clr-footer-1: rgb(57, 113, 146);

  /* grayscale pallette */
  --clr-white-1: #ffffff;
  --clr-off-white-1: #f4f4f4;
  --clr-light-gray-1: #d4d4d4;
  --clr-light-gray-2: #b1b1b1;
  --clr-gray-1: #818181;
  --clr-dark-gray-1: #585858;
  --clr-dark-gray-2: #2e2e2e;
  --clr-black-1: #000 c;

  /* pallette 1
  --clr-peach-1: #fcd392;
  --clr-salmon-1: #d97266;
  --clr-pink-1: #df98f0;
  --clr-purple-blue-1: #7e8bd9;
  --clr-sky-blue-1: #7cfcf4; */

  /* ocean pallette 1
  --clr-dark-greenish-gray-1: #2b2f26;
  --clr-dark-green-1: #4a5e56;
  --clr-light-green-1: #bcc4a4;

  --clr-light-tan-1: #d7d0bd;
  --clr-medium-tan-1: #a57f5a;
  --clr-dark-tan-1: #685c3d;

  --clr-dark-grayish-blue: #4d6b7c;
  --clr-medium-grayish-blue-2: #638598;
  --clr-medium-grayish-blue: #6f93aa;
  --clr-light-blue-1: #9cdaf0; */

  /* ocean pallette 2 */
  --clr-dark-greenish-gray-1: rgb(43, 51, 35);
  --clr-dark-green-1: rgb(65, 104, 88);
  --clr-light-green-1: rgb(186, 202, 145);

  --clr-light-tan-1: rgb(228, 213, 178);
  --clr-orange-tan-1: rgb(200, 127, 61);
  --clr-brown-tan-1: rgb(124, 100, 45);

  --clr-dark-grayish-blue: rgb(57, 113, 146);
  --clr-medium-grayish-blue-2: rgb(76, 141, 176);
  --clr-medium-grayish-blue: rgb(85, 156, 197);
  --clr-light-blue-1: rgb(144, 225, 253);

  --transition: all 0.2s linear;
}

* {
  margin: 0;
  padding: 0;
}

/* be sure to change */
body {
  background-color: var(--clr-background-1);
  font-family: 'Source Sans Pro', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.page-wrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  display: block;
  flex-grow: 1;
}

.content {
  margin: 2% 5%;
}

/* header */
header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 3;
}

.headerImg {
  height: 13rem;
  width: 100%;

  object-fit: cover;
  display: none;
}

.topLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13rem;
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0),
      rgba(245, 246, 252, 0),
      rgb(255, 255, 255)
    ),
    url('images/Wave-at-Hampton-Beach.jpg');
  background-position: center;
  background-size: cover;
}

.topLogo #siteName {
  font-family: 'Tangerine', cursive;
  font-weight: bold;
}

.topLogo h1 {
  color: white;
  font-size: 8rem;
  text-shadow: 0.1rem 0.1rem rgb(47, 94, 63);
  text-align: center;

  margin: auto;
}

.gradiant {
  display: block;
  height: 8vw;

  position: relative;
  top: -8.5rem;
  margin: auto;
}

header .headerNav {
  display: block;
  height: 3rem;
  background-color: var(--clr-navbar-2);
}

header .headerNav ul {
  display: flex;
  height: 3rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

header .headerNav .navBtn {
  width: 14vw;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 2px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
  /* margin-bottom: 2rem; */
}

header .headerNav .navBtn img {
  display: none;
  position: relative;
  top: 50%;
  margin-left: -0.6rem;
  height: 40px;
}

@media screen and (max-width: 1000px) {
  .topLogo h1 {
    font-size: 10vw;
    text-shadow: 0.15vw 0.15vw rgb(47, 94, 63);
  }
  .topLogo {
    height: 30vw;
  }
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: var(--clr-navbar-2);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 10rem;
  height: 3rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--clr-navbar-1);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content .dropLink {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content .dropLink:hover {
  background-color: var(--clr-navbar-4);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;

  animation: growDown 300ms ease-in-out forwards;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  transition: var(--transition);

  background-color: var(--clr-navbar-3);
}

#aboutDoor {
  display: block;
  background-color: var(--clr-navbar-1);
  padding: 0.5rem;
  width: 9rem;
  cursor: pointer;
}

#aboutDoor:hover {
  background-color: var(--clr-navbar-4);
}

/* ~
~
~ */
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: var(--clr-navbar-2);
  position: relative;
  display: none;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: var(--clr-navbar-1);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: var(--clr-navbar-2);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: var(--clr-navbar-4);
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: var(--clr-navbar-1);
  color: var(--clr-navbar-1);
}

@media screen and (max-width: 800px) {
  .topnav {
    display: block;
  }
  header .headerNav {
    display: none;
  }
}

/* 
~
~
~
~
intro */

.aboutImg {
  display: block;
  width: 35vw;
  max-width: 20rem;
  float: left;
  margin-top: 1rem;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
  box-shadow: -0.8rem -0.8rem var(--clr-navbar-2),
    0.4rem 0.4rem var(--clr-intro-1);
}

.shortAbout {
  display: flex;
  justify-content: center;
  /* height: 25rem; */

  background-color: var(--clr-background-1);
}

.shortAbout .imgContainer {
  margin-top: 3%;
  margin-bottom: 1%;
  margin-left: 3%;
  margin-right: 1%;
  padding: 0.7rem;
  background-color: var(--clr-intro-1);
  box-shadow: -0.7rem -0.7rem var(--clr-navbar-2);
  border-bottom-right-radius: 30%;
  width: 50%;
  max-width: 50rem;
  max-height: 25rem;
}

.shortAbout .imgContainer img {
  width: 100%;
  border-bottom-right-radius: 30%;
  display: block;
}

#imgRect {
  display: block;
}

#imgSquare {
  display: none;
}

.shortAbout .textContainer {
  margin-top: 3%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 3%;
  padding: 0.7rem;
  background-color: var(--clr-intro-1);
  box-shadow: 0.7rem -0.7rem var(--clr-navbar-2);
  border-bottom-left-radius: 30%;
  width: 50%;
  max-width: 50rem;
  max-height: 25rem;
  color: black;

  font-weight: bold;
  text-align: center;
}

.textContainer h1 {
  font-family: 'Tangerine', cursive;
  font-size: 5vw;
}

@media screen and (min-width: 2000px) {
  .shortAbout .textContainer {
    font-size: 2vw;
  }
}

@media screen and (max-width: 700px) {
  .aboutImg {
    box-shadow: -3vh -3vh var(--clr-navbar-2), 1vh 1vh var(--clr-intro-1);
  }
  .shortAbout .imgContainer {
    width: 20rem;
    padding: 1vw;
    box-shadow: -1vw -1vw var(--clr-navbar-2);
  }
  .shortAbout .textContainer {
    width: 20rem;
    padding: 1vw;
    box-shadow: 1vw -1vw var(--clr-navbar-2);
  }
}

/* Blog Grid */

.parent {
  background-color: var(--clr-background-1);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1% 2%;
}

.container {
  width: 30.6vw;
  height: 30.6vw;
  max-height: 30rem;
  max-width: 30rem;

  border-radius: 20%;
  flex: 0 0 auto;
}

.image {
  opacity: 1;
  display: block;
  width: 30.6vw;
  height: 30.6vw;
  max-height: 30rem;
  max-width: 30rem;
  object-fit: cover;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border-radius: 20%;
}

.defaultMiddle {
  transition: 0.5s ease;
  opacity: 1;
  position: relative;
  top: -50%;
  left: 50%;
  width: 100%;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: relative;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .defaultMiddle {
  opacity: 0;
  display: none;
}

.container:hover .middle {
  opacity: 1;
}

.defaultText {
  background-color: #f4f4f4c7;
  font-weight: bold;
  text-shadow: 0.5px 0.5px white;
  color: var(--clr-navbar-2);
  font-size: 16px;
  padding: 16px 33px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-navbar-2);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  height: 5rem;
}

.gridBtn {
  display: inline-block;
  border: none;
  width: 4rem;
  height: 4rem;
  margin-top: 1rem;
  text-decoration: none;
  background: var(--clr-navbar-3);
  color: #ffffff;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: solid white 2px;
  border-radius: 10%;
}

.gridBtn:hover,
button:focus {
  background: var(--clr-navbar-4);
}

.gridBtn:focus {
  outline: 1px solid #fff;
  outline-offset: -6px;
}

.gridBtn:active {
  transform: scale(0.99);
}

.parent .childB {
  display: none;
  background-color: var(--clr-navbar-2);

  flex: 0 0 auto;
  width: 15rem;
  height: 15rem;

  margin-top: 0%;
  margin-bottom: 2%;
  margin-left: 1%;
  margin-right: 1%;

  border-radius: 20%;
}

.container.mobileBioA {
  display: none;
  background-color: var(--clr-intro-1);
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 20%;
  box-shadow: -1vw -1vw var(--clr-navbar-2);
}

.mobileBioImg {
  opacity: 1;
  display: block;
  width: 30.6vw;
  height: 30.6vw;
  max-height: 30rem;
  max-width: 30rem;

  backface-visibility: hidden;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 20%;
}

.childB.mobileBioB {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;

  background-color: var(--clr-intro-1);
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 0%;
  box-shadow: 1vw -1vw var(--clr-navbar-2);
}

.childB.mobileBioB article {
  width: 30vw;
}

.childB.mobileBioB h1 {
  font-family: 'Tangerine', cursive;
  font-size: 40px;
}

@media screen and (max-width: 790px) {
  .shortAbout {
    display: none;
  }

  .parent {
    justify-content: center;
  }

  .image {
    width: 15rem;
    height: 15rem;
  }

  .container {
    width: 15rem;
    height: 15rem;
    margin: auto;
    margin-top: 0%;
    margin-bottom: 2%;
    margin-left: 1%;
    margin-right: 1%;
  }

  .parent .childB {
    display: flex;
  }

  .container.mobileBioA {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
  }
  .childB.mobileBioB {
    display: flex;
    margin-top: 3%;
  }

  .mobileBioImg {
    width: 14rem;
    height: 14rem;
  }
}

@media screen and (max-width: 521px) {
  .image {
    width: 12rem;
    height: 12rem;
  }
  .container {
    width: 12rem;
    height: 12rem;
  }
  .parent .childB {
    width: 12rem;
    height: 12rem;
  }

  .mobileBioImg {
    width: 11rem;
    height: 11rem;
  }
}
@media screen and (max-width: 420px) {
  .image {
    width: 10rem;
    height: 10rem;
  }

  .container {
    width: 10rem;
    height: 10rem;
  }
  .parent .childB {
    width: 10rem;
    height: 10rem;
  }

  .mobileBioImg {
    width: 9rem;
    height: 9rem;
  }
}

/* footer */

header,
main,
footer {
  flex-shrink: 0;
}

footer {
  height: 3rem;
  width: 100%;
  background-color: var(--clr-footer-1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
